{% extends 'base.html' %}

{% block title %} Availability {% endblock %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Availability
    </p>
  </div>
</section>
<div class="container" style="overflow-x: auto; white-space: nowrap;">
    {% if available_items %}
    <table class="table">
      <thead>
        <tr>
          {% for column in availability[0].keys() %}  
          <th> {{ column }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for available_item in available_items %}
        <tr>
          {% for value in available_item.values() %}
           <td> {{ value }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <br>
    <article class="message is-warning">
      <div class="message-header">
        <p>No Availability</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        There seems to be <strong>no Availability</strong> here, are you sure you do not need to create a new one?
      </div>
    </article>
    {% endif %}
</div>

{% endblock %}